@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  background: #5964e0;
  height: 136px;
  width: 100vw;
}

.filter-input-section {
  color: #333;
  width: 327px;
  height: 80px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

.job-listings-section {
  display: flex;
  flex-direction: column;
}

.job-listing-card {
  color: #333;
  margin-top: 16px;
  width: 327px;
  background: #f1f1f1;
  height: 253px;
}

.load-more-section {
  display: flex;
  height: 100px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-dialog {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.popup-body {
  color: #333;
}

.popup-body .upper-section {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
  height: 78px;
}
.popup-body .lower-section {
  height: 144px;
}

.submit-dialog-section {
  display: flex;
}

.filter-sumit-btn {
  margin-top: 16px;
  color: #f1f1f1;
  width: 100%;
  height: 48px;
  background-color: #5964e0;
}

/* listing page */
.listing-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: white;
  height: 100vh;
}

.listing-page-header {
  padding: 40px 22px;
}

.company-info-section {
  background: #f1f1f1;
  color: #333;
  width: 327px;
  height: 230px;
}

.job-description-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
}

.general-info {
  width: 327px;
  height: 179px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
